<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>ALUG LTC <small>here be mining stuff</small></h1>
      </div>
      <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li{% if active == "home" %} class="active"{% endif %}><a href="/">Home</a></li>
            <li{% if active == "charts" %} class="active"{% endif %}><a href="/charts">Charts</a></li>
          </ul>
        </div>
      </nav>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>