{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-responsive">
  <tr>
    <th>name</th><th>address</th><th>last payout</th><th> total ltc paid </th>
  </tr>
  <tr><td>bill</td><td>LfKq4JLHT1fQmVvDJS54VcRe1wmtdjrerV</td><td>[2013-12-18 Wed]</td><td> 1</td></tr>
  <tr><td>tosh</td><td>LbjtP3Ck4VCjXsDdR5zaCkB4LX2PjKXi7c</td><td>[2013-12-18 Wed]</td><td> 1</td></tr>
  <tr><td>marty</td><td></td><td></td><td> 0</td></tr>
  <tr><td>topcyde</td><td></td><td></td><td> 0</td></tr>
  <tr><td>justin</td><td></td><td></td><td> 0</td></tr>
</table>
{% endblock %}
