{% extends "base.html" %}

{% block head %}

<style type="text/css">
.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #cecece;
}
</style>

<script>
    function setParam(name, value) {
        var l = window.location;

        /* build params */
        var params = {};
        var x = /(?:\??)([^=&?]+)=?([^&?]*)/g;
        var s = l.search;
        for(var r = x.exec(s); r; r = x.exec(s))
        {
            r[1] = decodeURIComponent(r[1]);
            if (!r[2]) r[2] = '%%';
            params[r[1]] = r[2];
        }

        /* set param */
        params[name] = encodeURIComponent(value);

        /* build search */
        var search = [];
        for(var i in params)
        {
            var p = encodeURIComponent(i);
            var v = params[i];
            if (v != '%%') p += '=' + v;
            search.push(p);
        }
        search = search.join('&');

        /* execute search */
        l.search = search;
    }
</script>

{% endblock head %}

{% block content %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Alug Mining Stats</h2>
          <p>Showing <strong>{{ records }}</strong> records @ <strong>{{ interval }}</strong> interval from <strong>{{ active_pool }}</strong></p>

          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Options:</a>
            </div>


            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pool <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu">
                    {% for pool in pools %}
                    <!-- <li><a onClick="addOrUpdateUrlParam('pool', '{{ pool.name }}');">{{ pool.name }}</a></li> -->
                    <li><a href="javascript:setParam('pool', '{{ pool.name }}');">{{ pool.name }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>

              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Interval <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:setParam('interval', 5);">5 minutes</a></li>
                    <li><a href="javascript:setParam('interval', 10);">10 minutes</a></li>
                    <li><a href="javascript:setParam('interval', 30);">30 minutes</a></li>
                    <li><a href="javascript:setParam('interval', 60);">1 hour</a></li>
                    <li><a href="javascript:setParam('interval', 720);">12 hour</a></li>
                    <li><a href="javascript:setParam('interval', 1440);">1 day</a></li>
                  </ul>
                </li>
              </ul>


              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Number of records <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:setParam('records', 10);">10</a></li>
                    <li><a href="javascript:setParam('records', 25);">25</a></li>
                    <li><a href="javascript:setParam('records', 50);">50</a></li>
                    <li><a href="javascript:setParam('records', 100);">100</a></li>
                    <li><a href="javascript:setParam('records', 500);">250</a></li>
                    <li><a href="javascript:setParam('records', 1000);">1000</a></li>
                  </ul>
                </li>
              </ul>


            </div>
          </nav>

        </div>
        <table class="table table-striped table-responsive">
          <tr>
            <th>Pool</th>
            <th>Time</th>
            <th>Delta</th>
          </tr>
          {% for delta in deltas %}
          <tr>
            <td>{{ delta[0].pool.name }}</td>
            <td>{{ delta[0].date_added }}</td>
            <td>{{ delta[1] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
{% endblock %}